@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626524994469') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hezuo:before {
  content: "\e755";
}

.icon-arrLeft-fill:before {
  content: "\e503";
}

.icon-wenjian:before {
  content: "\e689";
}

.icon-shangke:before {
  content: "\e6af";
}

.icon-jiantou-copy:before {
  content: "\e625";
}

.icon-ttww:before {
  content: "\e502";
}

.icon-wendashezhi:before {
  content: "\e653";
}

.icon-hengxianggundongtiao:before {
  content: "\e69d";
}

.icon-weixin:before {
  content: "\e682";
}

.icon-github2:before {
  content: "\e504";
}

.icon-weibo:before {
  content: "\e7c1";
}

.icon-lib-menu:before {
  content: "\e709";
}

.icon-xiaopangchetubiao-copy:before {
  content: "\e612";
}

